<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yblxt.sugar"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".SugarApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MainActivity -->
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SecondActivity -->
        <activity
            android:name=".ui.activity.SecondActivity"
            android:label="SecondActivity"
            android:parentActivityName=".ui.activity.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>

        <!-- WidgetDemoListActivity -->
        <activity
            android:name=".demo.widget.WidgetDemoListActivity"
            android:label="Widget"
            android:parentActivityName=".ui.activity.MainActivity" />

        <!-- ToggleButtonTestActivity -->
        <activity
            android:name=".demo.widget.button.ToggleButtonTestActivity"
            android:label="MyToggleButton" />

        <!-- ProgressBarDemoActivity -->
        <activity
            android:name=".demo.widget.progressbar.ProgressBarDemoActivity"
            android:label="MyProgressBar" />

        <activity android:name=".demo.service.ServiceDemoActivity" />

        <service android:name=".demo.service.MyForegroundService" />

    </application>

</manifest>